/*Header*/

.header {
    font-family: Arial, Helvetica, sans-serif;
    font-size:35px;
    color:black;
    text-align: center;
    margin-top: 50px;
    padding-top: 50px;
    border-top: 50px;
}

.frame {
    display: flexbox;
    border: 10px;
    border-color: black;
    box-sizing: border-box;
}

.topl {
    display:flexbox;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color:rgb(120, 70, 173);
    text-align: left;
    float: left;
    margin-left: 30px;
    margin-top: 0px;
    padding-top: 0px;
    border-top: 0px;
}

.timer {
    display: flexbox;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color:black;
    text-align: right;
    align-items: end;
    float: right;
    margin-right: 30px;
    margin-top: 0px;
    padding-top: 0px;
    border-top: 0px;
}

.p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: black;
    text-align: center;
}

.start {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
    text-align: center;
    align-items: center;
    background-color: rgb(73, 24, 119);
    width: fit-content;
    margin: 20px 20px 20px 50px;
    padding: 5px;
    border: 5px;
    border-color:white;
    border-radius: 10px;
}

.start:hover {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
    text-align: center;
    background-color: rgb(120, 76, 162);
    width: fit-content;
    margin: 20px 20px 20px 50px;
    padding: 5px;
    border: 5px;
    border-color:white;
    border-radius: 10px;
}


/*Questions*/

.q {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: black;
    background-color: white;
    margin-left: 25px;
    display: none;
}

/*#second-page {
    display: none;
}

#third-page {
    display: none;
}

#fourth-page {
    display: none;
}

#fifth-page {
    display: none;
}

#sixth-page {
    display: none;
}
*/
#result-page {
    display: none;
}

#end-page {
    display: none;
}

#restart-page {
    display: none;
}

.choice {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
    list-style-type: none;
    background-color: rgb(73, 24, 119);
    width: fit-content;
    margin: 20px 20px 20px 50px;
    padding: 5px;
    border: 5px;
    border-color:white;
    border-radius: 10px;
}

.choice:hover {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
    list-style-type: none;
    background-color: rgb(120, 76, 162);
    width: fit-content;
    margin: 20px 20px 20px 50px;
    padding:10px;
    border: 10px;
    border-color:white;
    border-radius: 25px;
}


/*Resut*/

.result {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: black;
    margin-left: 20px;
}

.end {
    display:flexbox;
    font-family: Arial, Helvetica, sans-serif;
    font-size:35px;
    color:black;
    margin-left: 20px;
}

.end2 {
    display:flexbox;
    font-family: Arial, Helvetica, sans-serif;
    font-size:35px;
    color:black;
}

.go-back {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
    background-color: rgb(73, 24, 119);
    width: fit-content;
    margin: 20px 20px 20px 50px;
    padding: 5px;
    border: 5px;
    border-color:white;
    border-radius: 10px;
}

.go-back:hover {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
    background-color: rgb(120, 76, 162);
    width: fit-content;
    margin: 20px 20px 20px 50px;
    padding: 5px;
    border: 5px;
    border-color:white;
    border-radius: 10px;
}

.clear {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
    background-color: rgb(73, 24, 119);
    width: fit-content;
    margin: 20px 20px 20px 50px;
    padding: 5px;
    border: 5px;
    border-color:white;
    border-radius: 10px;
}

.clear:hover {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
    background-color: rgb(120, 76, 162);
    width: fit-content;
    margin: 20px 20px 20px 50px;
    padding: 5px;
    border: 5px;
    border-color:white;
    border-radius: 10px;
}
